<!-- begin mainbox -->

<div id="leftbar"> 
        <div class="title_side_box">                                                                                                       
        <div class="centered">
        <h2>SlashET</h2>
        </div>      
	</div>

	<div class="bar_box">
      	<ul>
        [% login %]
        [% preferences %]
        [% site admin %]
        [% newspost %]
	<li><!--<a HREF="about.shtml">-->About<!--</a>--></li>
        <li><a HREF="rss.cgi?maxentries=10">XML/RSS</a></li>
        <li><!--<a HREF="/faq.shtml">-->FAQ<!--</a>--></li>
        <li><!--<a HREF="/cgi-bin/comments.cgi">-->Discussions<!--</a>--></li>
        <li><a href="topic.cgi?topic=topiclist">Topics</a></li>
        <li><a HREF="user.cgi?user=userlist">Editors</a></li>
        <li><a HREF="archive.cgi">News Archive</a></li>
	</ul>
</div>

<!-- end mainbox -->
