
<!-- begin usefulbox -->

        <div class="title_side_box">                                                                                                    
        <div class="centered">
        <h2>Useful Links</h2>
        </div>
        </div>       

<div class="bar_box">
	<ul>      
	<li><a HREF="http://www.digitalidworld.com/">Digital Identity World</a></li>
      	<li><a HREF="http://www.internet2.edu/">Internet2</a></li>
      	<li><a HREF="http://www.theregister.co.uk/">The Register</a></li>
      	<li><a HREF="http://www.alphaworks.ibm.com/">IBM alphaWorks</a></li>
      	<li><a HREF="http://www.securityfocus.com/">Security Focus</a></li>
	</ul>     
</div>
</div>

<!-- end usefulbox -->

